<div class="container tabla-cafes">
  <div class="col-md-8">
    <table class="table">
      <thead class="">
        <tr class="header-tablas">
          <th scope="col" class="table-header-col">#</th>
          <th scope="col" class="table-header-col">Nombre</th>
          <th scope="col" class="table-header-col">Tipo</th>
          <th scope="col" class="table-header-col">Región</th>
        </tr>
      </thead>
      <tbody>
        <tr scope="row" class="cafe-entry-row" *ngFor="let cafe of cafes">
          <td class="table-row-col"><strong>{{ cafe.id }}</strong></td>
          <td class="table-row-col">{{ cafe.nombre }}</td>
          <td class="table-row-col">{{ cafe.tipo }}</td>
          <td class="table-row-col">{{ cafe.region }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<p class="cuenta-cafe">Total café de origen: {{ cafesOrigen }}</p>
<p class="cuenta-cafe">Total café blend: {{ cafesBlend }}</p>
